apiVersion: v1
kind: Pod
metadata:
  name: normal-pod
  namespace: rq-lab
spec:
  containers:
  - name: nginx-container
    image: nginx:latest
    resources:
      requests:
        cpu: "150m"
        memory: "256Mi"
