apiVersion: v1
kind: LimitRange
metadata:
  name: lr-minmax
  namespace: rq-lab
spec:
  limits:
  - type: Container
    min:
      cpu: "100m"
      memory: "128Mi"
    max:
      cpu: "300m"
      memory: "512Mi"
