apiVersion: v1
kind: Pod
metadata:
  name: frontend
spec:
  affinity:                	
    podAffinity:           	
      requiredDuringSchedulingIgnoredDuringExecution:      	
      - labelSelector:      				
          matchExpressions:
          - key: app	       	
            operator: In   	
            values: [cache]	
        topologyKey: kubernetes.io/hostname 	
 					
  containers:
  - name: nginx
    image: nginx:1.29.1
