apiVersion: v1
kind: Pod
metadata:
  name: nfs-pvc-test
spec:
  containers:
  - name: app
    image: busybox:1.36
    command: ["/bin/sh", "-c"]
    args:
      - |
        echo "$(date); pvc mount test" > /data/test.txt
        sleep 3600

    volumeMounts:
    - name: nfsvol
      mountPath: /data

  volumes:
  - name: nfsvol
    persistentVolumeClaim:
      claimName: pvc-nfs-rwx
