apiVersion: v1
kind: Pod
metadata:
  name: nginx-pod-unhealthy

spec:
  containers:
  - name: unhealthy-container
    image: smlinux/unhealthy
    ports:
      - containerPort: 80
        protocol: TCP

    livenessProbe:
      httpGet:
        path: /
        port: 80
      initialDelaySeconds: 20
      periodSeconds: 10
      timeoutSeconds: 1
      successThreshold: 1
      failureThreshold: 3
