apiVersion: v1
kind: Pod
metadata:
  name: nginx-pod-liveness

spec:
  containers:
  - name: nginx-container
    image: nginx:1.29.1
    ports:
      - containerPort: 80
        protocol: TCP
    livenessProbe:
      httpGet:
        path: /
        port: 80
